{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark" style="padding: 0 4 0 4">
  <a class="navbar-brand" href="#">&nbsp;<span id="title">编辑医案</span></a>
</nav>
<div class="container" style="margin-top:1rem">
  <div class="accordion" id="portfolio">
    <div id="info" style="padding:0.5rem 0.6rem 0.5rem 0.5rem">
      <b>[<span id="patient_name"></span>]</b>&nbsp;<span id="summary"></span>
      &nbsp;<a class="fas fa-edit" href="javascript:editCaseProp(consults)"></a>
    </div>
    <div id="consults"></div>
  </div>
</div>
</form>
</div>
<script>
  var consults = JSON.parse(`{{.Case}}`)
  $(function () {
    $('#info').addClass("alert alert-" + caseBgColor(consults.status))
    $('#patient_name').text(consults.patient_name)
    $('#summary').text(consults.summary)
    $.each(consults.consult, function (i, c) {
      var bg = consultBgColor(c.status)
      var card = `
<div class="card">
  <div class="card-header" style="padding:0;background:${bg}" id="h_${c.id}">
    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#c_${c.id}" style="display:inline-block">
      ${fmtDateTime(c.time, "Y-m-d")}
    </button>
    <div class="dropdown" style="display:inline-block;float:right">
      <i class="fas fa-ellipsis-v" data-toggle="dropdown" style="padding:0.7rem 0.7rem"></i>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:editConsultArgs(0, ${c.id})">编辑【主诉】</a>
        <a class="dropdown-item" href="javascript:editConsultArgs(1, ${c.id})">编辑【诊断】</a>
        <a class="dropdown-item" href="javascript:editConsultArgs(2, ${c.id})">编辑【辩证】</a>
        <a class="dropdown-item" href="javascript:editConsultArgs(3, ${c.id})">编辑【思路】</a>
        <a class="dropdown-item" href="javascript:editConsultArgs(4, ${c.id})">编辑【开方】</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:editConsultProp(consults.consult[${i}])">编辑就诊记录</a>
      </div>
    </div>
  </div>
  <div id="c_${c.id}" class="collapse" data-parent="#portfolio">
    <div class="card-body">`
      $.each(c.records, function (i, r) {
        card += `
      <div style="margin-bottom:0.3rem">
        <div style="color:darkblue"><a class="fas fa-edit" href="javascript:editConsultArgs(${r.type}, ${r.consult_id}, ${r.id})"></a>
          <b>[${r.category}]</b>&nbsp;${r.caption}</div>
      </div>
      <div style="margin-bottom:1.5rem;color:#555">${r.details}</div>`
      })
      card += `
    </div>
  </div>
</div>`
      $('#consults').append(card)
    })
    if (consults.consult.length < 2) {
      $('#consults').append(`<div class="card"></div>`)
    }
  })
</script>
{{template "caseprop"}}
{{template "consultprop"}}
{{template "consultargs"}}
{{template "footer"}} {{end}}