{{define "body"}} {{template "header"}}
<style>
  @media (max-width: 767px) {
    .landscape {
      display: none
    }
  }

  @media (min-width: 768px) {
    .portrait {
      display: none
    }
  }
</style>
<nav class="navbar navbar-expand navbar-dark bg-dark" style="padding: 0 4 0 4">
  <a class="navbar-brand" href="#">&nbsp;医案</a>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
          <i class="fas fa-user"></i>&nbsp;<b>{{.Caption}}</b>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          {{if .IsEditor}}
          <a class="dropdown-item" href="javascript:openCase()"><i class="fas fa-edit"></i>&nbsp;新增医案</a>
          <a class="dropdown-item" href="/patients"><i class="fas fa-address-card"></i>&nbsp;患者管理</a>
          {{end}}
          {{if .IsAdmin}}
          <a class="dropdown-item" href="/users"><i class="fas fa-user-edit"></i>&nbsp;用户管理</a>
          {{end}}
          <a class="dropdown-item" href="javascript:changePassword()"><i class="fas fa-key"></i>&nbsp;修改密码</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container" style="margin-top:1rem">
  <form id="search" autocomplete="off">
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" class="form-control" id="terms" placeholder="搜索医案">
      <div class="input-group-append">
        <div class="input-group-text" style="cursor:pointer" onclick="doSearch()"><i class="fas fa-search"></i></div>
      </div>
    </div>
  </form>
  <div id="cases"></div>
</div>
<div id="chpasswd" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">修改密码</h5>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="old" class="col-3 col-form-label col-form-label">原密码</label>
          <div class="col-9">
            <input type="password" class="form-control" id="old">
          </div>
        </div>
        <div class="form-group row">
          <label for="new1" class="col-3 col-form-label col-form-label">新密码</label>
          <div class="col-9">
            <input type="password" class="form-control" id="new1">
          </div>
        </div>
        <div class="form-group row">
          <label for="new2" class="col-3 col-form-label col-form-label">再次输入</label>
          <div class="col-9">
            <input type="password" class="form-control" id="new2">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="mr-auto" style="color:red" id="errmsg">错误信息...</span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-success" onclick="submitNewPass()">保存</button>
      </div>
    </div>
  </div>
</div>
<script>
  function openCase(id) {
    var uri = "/editcase"
    if (typeof (id) != "undefined") uri += `?id=${id}`
    var child = window.open(uri)
    var timer = setInterval(checkChild, 500);
    function checkChild() {
      if (child.closed) {
        alert("Child window closed");
        clearInterval(timer);
      }
    }
  }
  function getCases() {
    $.get("/api/listcases", null, function (ret) {
      $("#cases").empty()
      $.each(ret, function (i, c) {
        var bg = caseBgColor(c.status)
        var opened = c.opened.substr(0, 10)
        $('#cases').append(`
<div class="portrait alert alert-${bg}" onclick="openCase('${c.id}')" 
  style="cursor:pointer;padding:0.6rem;margin-bottom:0.5rem">
  <div style="display:flex;margin-bottom:0.3rem">
    <div class="col" style="padding:0;font-weight:bold">${c.patient_name}</div>
    <div class="col" style="padding:0;text-align:right">${opened}</div>
  </div>
  <div>${c.summary}</div>
</div>
<div class="landscape alert alert-${bg}" onclick="openCase('${c.id}')" 
  style="cursor:pointer;padding:0.6rem;margin-bottom:0.5rem">
  <div style="display:inline-block;font-weight:bold;width:80px;vertical-align:top">${c.patient_name}</div>
  <div style="display:inline-block;max-width:500;vertical-align:top">${c.summary}</div>
  <div style="display:inline-block;float:right;vertical-align:top">${opened}</div>
</div>        
        `)
      })
    }, "JSON")
  }
  function doSearch() {
    toast("操作失败", "搜索功能暂未实现")
  }
  function changePassword() {
    $('#chpasswd #old').val('')
    $('#chpasswd #new1').val('')
    $('#chpasswd #new2').val('')
    $('#chpasswd #errmsg').text('')
    $('#chpasswd').modal()
  }
  function submitNewPass() {
    var old = $('#chpasswd #old').val()
    var new1 = $('#chpasswd #new1').val()
    var new2 = $('#chpasswd #new2').val()
    if (old == "") {
      $('#chpasswd #errmsg').text('原密码没有输入')
      return
    }
    if (new1 != new2) {
      $('#chpasswd #errmsg').text('新密码两次输入不一致')
      return
    }
    if (new1 == '') {
      $('#chpasswd #errmsg').text('新密码不能为空')
      return
    }
    $('#chpasswd #errmsg').text('')
    $.post("/chpass", { old: old, new: new1 }, function () {
      $('#chpasswd').modal('hide')
    })
  }
  $(function () {
    getCases()
  })
</script>
{{template "footer"}} {{end}}