{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark" style="padding: 0 4 0 4">
    <a class="navbar-brand" href="#">&nbsp;患者管理</a>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <i class="fas fa-user"></i>&nbsp;<b>{{.Editor}}</b>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/"><i class="fas fa-book"></i>&nbsp;返回医案</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top:1rem;text-align:center">
    <form id="search" autocomplete="off">
        <div class="input-group mb-2 mr-sm-2">
            <input type="text" class="form-control" id="terms" value="{{.Query}}" placeholder="搜索患者">
            <div class="input-group-append">
                <div class="input-group-text" style="cursor:pointer" onclick="doSearch()"><i class="fas fa-search"></i>
                </div>
            </div>
        </div>
        <div>
            <small class="form-text text-muted">显示{{.Total}}名注册患者中的{{len .Patients}}名</small>
        </div>
    </form>
    <div class="alert alert-danger" style="cursor:pointer;display:inline-block;margin:0.5rem;width:300px" 
       onclick="editPatient(this)">添加新患者</div>
    {{range .Patients }}
    <div class="alert alert-{{if eq .Gender 0}}success{{else}}primary{{end}}" onclick="editPatient(this)"
        style="cursor:pointer;display:inline-block;margin:0.5rem;width:300px" pid="{{.ID}}">
        {{.Caption}}<i style="float:right;padding-top:0.3rem" class="fas fa-briefcase-medical"
        onclick="event.stopPropagation();alert('NEW CASE...')"></i>
    </div>
    {{end}}
</div>
<div class="modal" tabindex="-1" role="dialog" id="pd">
    <input type="hidden" id="pid" />
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新建患者档案</h5>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="name" class="col-3 col-form-label col-form-label">姓名</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="birthday" class="col-3 col-form-label col-form-label">生日</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="birthday">
                        <small class="form-text text-muted">格式为yyyymmdd，例如20060102</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="gender" class="col-3 col-form-label col-form-label">性别</label>
                    <div class="col-9">
                        <select id="gender" class="form-control">
                            <option value="0">女</option>
                            <option value="1">男</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="contact" class="col-3 col-form-label col-form-label">联系</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="contact">
                        <small class="form-text text-muted">联系方式一般为手机号（也用于区分同名患者）</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="memo" class="col-3 col-form-label col-form-label">备注</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="memo">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="del" class="btn btn-danger mr-auto" onclick="deletePatient()">删除</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" onclick="submitPatientData()">保存</button>
            </div>
        </div>
    </div>
</div>
{{template "confirm"}}
<script>
    var patients = {}
    {{ range.Patients }}
    patients[{{.ID}}] = JSON.parse({{.String}})
    {{ end }}
    function editPatient(btn) {
        var pid = $(btn).attr("pid")
        $('#pd #passwd').val('')
        if (typeof (pid) == "undefined") {
            $('#pd .modal-title').text('新建患者档案')
            $('#pd #name').val('')
            $('#pd #birthday').val('')
            $('#pd #contact').val('')
            $('#pd #memo').val('')
            $('#pd #gender').val(0)
            $('#pd #del').css("display", "none")
        } else {
            var p = patients[pid]
            $('#pd .modal-title').text('编辑患者档案')
            $('#pd #pid').val(pid)
            $('#pd #name').val(p.name)
            $('#pd #birthday').val(p.birthday)
            $('#pd #contact').val(p.contact)
            $('#pd #memo').val(p.memo)
            $('#pd #gender').val(p.gender)
            $('#pd #del').css("display", "")
        }
        $('#pd').modal()
    }
    function submitPatientData() {
        var data = {}
        data.id = $('#pd #pid').val()
        data.name = $('#pd #name').val()
        data.birthday = $('#pd #birthday').val()
        data.contact = $('#pd #contact').val()
        data.memo = $('#pd #memo').val()
        data.gender = $('#pd #gender').val()
        $.post("/patients", data, function () {
            location.reload(true)
        })
    }
    function deletePatient() {
        var pid = $('#pd #pid').val()
        var p = patients[pid]
        confirm("请确认", `您将要删除患者【${p.name}】...`, function () {
            $.ajax({
                url: "/patients?id=" + pid,
                method: "DELETE",
                success: function () {
                    location.reload(true)
                }
            })
        })
    }
    $(document).ready(function () {
        $('#search #terms').keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault()
                var terms = $('#search #terms').val()
                location.href = "/patients?q=" + terms
                return false
            }
        })
    });
    function doSearch() {
        var terms = $('#search #terms').val()
        location.href = "/patients?q=" + terms
    }
</script>
{{template "footer"}} {{end}}