{{define "body"}} {{template "header"}}
<nav class="navbar navbar-expand navbar-dark bg-dark" style="padding: 0 4 0 4">
    <a class="navbar-brand" href="#">&nbsp;用户管理</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <i class="fas fa-user"></i>&nbsp;<b>{{.Admin}}</b>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/"><i class="fas fa-book"></i>&nbsp;返回医案</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="fas fa-door-open"></i>&nbsp;退出</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top:1rem;text-align:center">
    <button class="btn btn-success" style="margin:0.5rem;width:300px" onclick="editUser(this)">添加新用户</button>
    {{range .Users }}
    <button class='btn btn-{{index . "style"}}' onclick="editUser(this)"
        style="width:300px;margin:0.5rem;cursor:pointer" login='{{index . "login"}}' role='{{index . "role"}}'
        user='{{index . "name"}}'>
        {{index . "caption"}}
    </button>
    {{end}}
</div>
<div class="modal" tabindex="-1" role="dialog" id="ud">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新建用户</h5>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label for="login" class="col-3 col-form-label col-form-label">用户</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="login">
                        <small class="form-text text-muted">允许英文字母和数字，长度1~16</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="passwd" class="col-3 col-form-label col-form-label">密码</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="passwd">
                        <small class="form-text text-muted">临时密码，应该尽快修改</small>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-3 col-form-label col-form-label">姓名</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="role" class="col-3 col-form-label col-form-label">权限</label>
                    <div class="col-9">
                        <select id="role" class="form-control">
                            <option value="-1">禁止登录</option>
                            <option value="0">可阅读医案</option>
                            <option value="1">可创建或修改医案</option>
                            <option value="2">管理员</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="del" class="btn btn-danger mr-auto" onclick="deleteUser()">删除</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" onclick="submitUserData()">保存</button>
            </div>
        </div>
    </div>
</div>
{{template "confirm"}}
<script>
    function editUser(btn) {
        var login = $(btn).attr("login")
        $('#ud #passwd').val('')
        if (typeof (login) == "undefined") {
            $('#ud .modal-title').text('新建用户')
            $('#ud #login').val('')
            $('#ud #name').val('')
            $('#ud #role option:eq(0)').prop('selected', true)
            $('#ud #del').css("display", "none")
            $('#ud #login').prop('disabled', false)
            $('#ud #role option').eq(1).prop('selected', true)
        } else {
            var role = parseInt($(btn).attr("role")) + 1
            var user = $(btn).attr("user")
            $('#ud .modal-title').text('编辑用户')
            $('#ud #del').css("display", "")
            $('#ud #login').val(login)
            $('#ud #name').val(user)
            $('#ud #login').prop('disabled', true)
            $('#ud #role option:eq(' + role + ')').prop('selected', true)
        }
        $('#ud').modal()
    }
    function submitUserData() {
        var data = {}
        data.login = $('#ud #login').val()
        data.passwd = $('#ud #passwd').val()
        data.name = $('#ud #name').val()
        data.role = $('#ud #role').val()
        $.post("/users", data, function () {
            location.reload(true)
        })
    }
    function deleteUser() {
        var login = $('#ud #login').val()
        confirm("请确认", `您将要删除用户【${login}】...`, function () {
            $.ajax({
                url: "/users?login=" + login,
                method: "DELETE",
                success: function () {
                    location.reload(true)
                }
            })
        })
    }
</script>
{{template "footer"}} {{end}}