{{define "consultargs"}}
<div class="modal fade" id="consultargs" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="r_id" />
                    <input type="hidden" id="r_type" />
                    <input type="hidden" id="r_class" />
                    <input type="hidden" id="r_consult" />
                    <div class="form-group">
                        <label for="caption">标题</label>
                        <input type="text" class="form-control" id="caption" />
                    </div>
                    <div class="form-group">
                        <label for="details">正文</label>
                        <textarea class="form-control" rows=5 id="details"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="diagtypes" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="" />
                    <div class="form-group">
                        <label for="caption">标题</label>
                        <input type="text" class="form-control" id="caption" />
                    </div>
                    <div class="form-group">
                        <label for="details">正文</label>
                        <textarea class="form-control" rows=5 id="details"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<script>
    function getConsultArgs(ctype, cid, cls, id) {
        var consult, record
        $.each(consults.consult, function (i, c) {
            if (c.id == cid) {
                consult = c
                return false
            }
        })
        $.each(consult.records, function (i, r) {
            if (typeof (id) == 'undefined') {
                if (ctype == 1 && cls == 3) { //问诊，每次就诊可有多条记录
                    return false
                } else if (r.type == ctype && r.class_id == cls) { //非问诊，每次就诊只有一条同类记录
                    record = r
                    return false
                }
            } else if (r.id == id) {
                record = r
                return false
            }
        })
        if (typeof (record) == 'undefined') {
            return {
                "consult_id": cid,
                "category": recType(ctype),
                "type": ctype,
                "class_id": cls,
                "caption": "",
                "details": ""
            }
        }
        return record
    }
    function editConsultArgs(ctype, cid, cls, id) {
        console.log(`type=${ctype}, consult=${cid}, id=${id}`)
        r = getConsultArgs(ctype, cid, cls, id)
        console.log("getConsultArgs:", r)
        $('#consultargs .modal-title').text(r.category)
        $('#consultargs .modal-body #r_id').val(r.id)
        $('#consultargs .modal-body #r_type').val(r.type)
        $('#consultargs .modal-body #r_class').val(r.class_id)
        $('#consultargs .modal-body #r_consult').val(r.consult_id)
        $('#consultargs .modal-body #caption').val(r.caption)
        $('#consultargs .modal-body #details').val(r.details)
        $('#consultargs').on('hide.bs.modal', function () {
            var elm = $(document.activeElement);
            if (elm.hasClass('btn-success')) {
                var props = {}
                props["id"] = $('#consultargs .modal-body #r_id').val()
                props["type"] = $('#consultargs .modal-body #r_type').val()
                props["class_id"] = $('#consultargs .modal-body #r_class').val()
                props["consult_id"] = $('#consultargs .modal-body #r_consult').val()
                props["caption"] = $('#consultargs .modal-body #caption').val()
                props["details"] = $('#consultargs .modal-body #details').val()
                console.log("TODO: submitting:", props)
                /*
                $.post('/api/editconsult', props, function () {
                    location.reload()
                })
                */
            }
            $('#consultargs').off('hide.bs.modal')
        })
        $('#consultargs').modal()
    }
</script>
{{end}}