{{define "header"}}
<html>

<head>
  <title>go-webserver {{ver}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/jquery/jquery.toast.min.css">
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <script src="/jquery/jquery.min.js"></script>
  <script src="/jquery/jquery.toast.min.js"></script>
  <script src="/jscookie/js.cookie.js"></script>
  <script src="/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/js/common.js"></script>  
</head>
<body>
{{end}}
